Common/obj/
Ephenet.Hub/bin/
Ephenet.Hub/obj/
Ephenet/bin/
Ephenet/obj/
Ephenet.Common/obj/
Ephenet.Sample/bin/
Ephenet.Sample/obj/
GenSharp/bin/
GenSharp/obj/
Interface/obj/
lib/PublicDomain/obj/
Common/bin/
Interface/bin/
lib/PublicDomain/bin/
*.suo
